<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Setup — Dealbot</title>
    <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.css" rel="stylesheet" />
    <style>
      body {
        background: #e6dad8;
        font-family: 'Karla', sans-serif;
        line-height: 1.6;
        color: #444;
      }

      header, main, footer {
        width: 80%;
        max-width: 700px;
        margin: 0 auto;
      }

      header {
        text-align: center;
        margin-top: 100px;
      }

      main {
        background: rgba(255,255,255,0.9);
        margin-top: 24px;
        border: 1px solid #ffbbb5;
        border-radius: 5px;
      }

      h1 {
        color: #df006a;
        font-size: 18px;
        padding: 18px;
        margin: 0;
      }

      article {
        border-top: 1px solid #ffbbb5;
        padding: 18px;
      }

      h2 {
        margin: 0 0 12px;
        font-size: 18px;
      }

      ul {
        list-style: square;
        padding: 0;
        margin: 0 0 0 2em;
      }

      a {
        color: #00b0a5;
        text-decoration: none;
      }

      article pre {
        margin: 8px -18px;
        background: #f8f8f8;
        padding: 18px;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
      }

      article code {
        font-size: 13px;
        background: #f8f8f8;
        display: inline-block;
        padding: 2px 4px;
        border: 1px solid #eee;
        border-radius: 3px;
      }

      p:last-child {
        margin-bottom: 0;
      }

      footer {
        text-align: center;
        font-size: 12px;
        color: rgba(0,0,0,0.5);
        margin-bottom: 50px;
      }

      footer a {
        color: inherit;
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
    <header>
      <img src="https://cdn.rawgit.com/dealbot/dealbot/master/dealbot.svg" alt="Dealbot" width="200" />
    </header>
    <main>
      <h1>Setup</h1>
      <article>
        <h2>Health check</h2>
        <ul>
        <% tasks.each do |task| %>
          <li><%= task %></li>
        <% end %>
        </ul>
      </article>
      <article>
        <h2>Deployment information</h2>
        <p>Your Dealbot instance appears to be running at:</p>
        <pre><%= hostname %></pre>
        <% if heroku_app %>
        <p><a href="https://dashboard.heroku.com/apps/<%= heroku_app %>">⚙ Manage your Dealbot on Heroku</a></p>
        <% else %>
        <p>This does not appear to be on the Heroku cloud.</p>
        <% end %>
      </article>
      <article>
        <h2>Current configuration</h2>
        <p>Configuration is loaded from the <code>DEALBOT_CONFIG</code> environment variable.</p>
        <pre><%= configuration %></pre>
        <p><a href="http://dealbot.faraday.io/configuration">📖 Learn how to configure your Dealbot</a></p>
        <% if heroku_app %>
        <p><a href="https://dashboard.heroku.com/apps/<%= heroku_app %>/settings">⚙ Change your configuration on Heroku</a></p>
        <% else %>
        <p>Change your configuration by amending the <code>DEALBOT_CONFIG</code> environment variable.</p>
        <% end %>
      </article>
      <article>
        <h2>Slack setup</h2>
        <p>Here's the <strong>webhook URL</strong> you will need:</p>
        <pre>https://<%= api_key %>:@<%= hostname %>/messenger_notifications</pre>
        <p><a href="http://dealbot.faraday.io/slack">📖 Learn how to connect Dealbot to your Slack</a></p>
      </article>
    </main>
    <footer>
      <p><a href="http://dealbot.faraday.io">Dealbot</a> is an <a href="https://github.com/dealbot/dealbot">open-source</a> project brought to you by <a href="http://faraday.io">Faraday</a>, the customer outreach platform.</p>
    </footer>
  </body>
</html>

